<h2>Available CVs</h2>
<div *ngIf="cvList.length == 0"> No CVs Available</div>
<div class="input-group" *ngFor="let cv of cvList; let i = index">
    <div class="input-group-prepend">
        <!--<div class="input-group-text">
            <input type="radio" id="cvLstRadio{{i}}" name="cvRaidos">
        </div>-->
    </div>
    <label class="form-control" for="cvLstRadio{i}}">
        {{i+1}} - {{(cv.markdown.length>38) ? (cv.markdown | slice:0:38)+'...':cv.markdown}}
    </label>
    <button (click)="btnClick(i)" class="btn btn-primary float-right">Edit</button>
</div>
