<app-navbar [current]="'admin'"></app-navbar>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-11">
            <app-cv-list [cvList]="cvList" [(cv)]="currentCv"></app-cv-list>
            <br>
            <div *ngIf="currentCv">
                <button class="btn btn-primary col-sm-12" (click)="btnSave()">Save MarkDown</button>
                <br>
                <div class="alert alert-success alert-dismissible fade show" *ngIf="saved">
                    <strong>Success!</strong> Markdown saved successfully.
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="error">
                    <strong>Error!</strong> A problem has been occurred while submitting the markdown.
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <br>
            </div>
        </div>
        <div class="col-lg-9 col-sm-11" *ngIf="currentCv">
            <app-cv-editor [(cv)]="currentCv.markdown"></app-cv-editor>
        </div>
    </div>
</div>