<div class="p-3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 text-center">
            <h1>Admin</h1>
        </div>
        <div class="col-1 float-right">
            <button class="btn btn-primary text-center" (click)="logoutBtn()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <app-cv-list [cvList]="cvList" [(cv)]="currentCv"></app-cv-list>
            <br>
            <div *ngIf="currentCv">    
                <button class="btn btn-primary" (click)="btnSave()">Save MarkDown</button>
                <div class="alert alert-success alert-dismissible fade show" *ngIf="saved">
                    <strong>Success!</strong> Markdown saved successfully.
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="error">
                    <strong>Error!</strong> A problem has been occurred while submitting the markdown.
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            </div>
        </div>
        <div class="col-9" *ngIf="currentCv">
            <app-cv-editor [(cv)]="currentCv.markdown"></app-cv-editor>
        </div>
    </div>
</div>
