<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Dumitru Vulpe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active' : current == 'cv'}">
                <a class="nav-link" routerLink="/">CV</a>
            </li>
            <li class="nav-item" [ngClass]="{'active' : current == 'projects'}">
                <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
        </ul>

        

        <ul class="inline navbar-nav my-2 my-lg-0">
            <li class="nav-item" [ngClass]="{'active' : current == 'admin'}">
                <a class="nav-link" routerLink="/admin">Admin</a>
            </li>
        </ul>
        <div *ngIf="isLoggedIn" class="inline my-2 my-lg-0">

            <button (click)="logout()" type="button" class="inline btn btn-light">Logout</button>
        </div>
    </div>
</nav>