<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit CVs</h4>
        <form [formGroup]="cvForm">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input class="form-control" type="text" formControlName="name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bio</span>
                        </div>
                        <input class="form-control" formControlName="bio">
                    </div>
                </div>
            </div>
        </form>

        <hr>
        <div class="" *ngFor="let exp of exps">
            <app-exp-editor #exp [expData]="exp" class="card-body"></app-exp-editor>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn" (click)="addExp()">Add Experience</button>
            </div>
            <div class="col">
                <button class="btn" (click)="deleteExp()">Remvove Experience</button>
            </div>
        </div>
        <hr>
        <button class="btn" (click)="onBtnLoginClick()">Submit</button>
    </div>
</div>